header {
    display: flex;
    background-color: var(--header-background);
    padding: 0 5em;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
}

.logo-container img {
    width: 5em;
    border-radius: 50%;
}

.instagram-container img {
    width: 30px;
}

.header-contacts-container {
    display: flex;
    gap: 1em;
    align-items: center;
}

.phone-wrapper {
    display: flex;
    flex-direction: column;
}

.instagram-link:hover::after {
    text-decoration: none !important;
}