:root {
    --color-dark: #000000;

    --header-background: none;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.animation-link {
    text-decoration: none;
    color: var(--color-dark);
    position: relative;
}

.animation-link::after {
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    display: block;
    width: 100%;
    height: 1px;
    background: #000;
}

.animation-link::after {
    width: 0;
    transition: 0.3s;
}

.animation-link:hover:after {
    width: 100%;
}